::selection {
  background-color: rgba(13, 173, 81, 0.2);
  color: #333;
}
::-moz-selection {
  background-color: rgba(13, 173, 81, 0.2);
  color: #333;
}
::-webkit-selection {
  background-color: rgba(13, 173, 81, 0.2);
  color: #333;
}
.lianjia-header {
  color: #333;
  background: #ececec;
  height: 36px;
  line-height: 36px;
}
.lianjia-header .nav {
  width: 1150px;
  margin-right: 10px;
}
.lianjia-header .nav ul {
  margin-left: 0px;
}
.lianjia-header .nav ul li a {
  font-size: 12px;
  color: #555;
}
.lianjia-header .nav ul li:hover .nav-list {
  top: 26px;
}
.lianjia-header .nav .login {
  width: 300px;
  text-align: right;
}
.lianjia-header .nav .login .typeShowUser a {
  color: #333;
  font-size: 12px;
}
.lianjia-header .nav .login span.fr {
  color: #797979;
  margin-right: 15px;
  font-size: 12px;
}
.header .nav ul li .appQRCode {
  display: none;
  position: absolute;
  top: 36px;
  left: -32px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #101d37;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  padding: 12px;
  z-index: 3000;
}
.header .nav ul li .appQRCode img {
  width: 90px;
  height: 90px;
}
.header .nav ul li:hover .appQRCode {
  display: block;
}
.overseas-nav.beike .logo {
  float: left;
  width: 140px;
  height: 32px;
  margin-top: 26px;
  background-image: url(../../../img/haiwai/logo_hw_white_ke.png);
  background-image: -webkit-image-set(url(../../../img/haiwai/logo_hw_white_ke@1x.png) 1x, url(../../../img/haiwai/logo_hw_white_ke@2x.png) 2x);
  background-size: 140px 32px;
  background-repeat: no-repeat;
  background-position: left center;
  position: relative;
  z-index: 1;
}
.overseas-nav.lianjia .logo {
  float: left;
  width: 145px;
  height: 33px;
  margin-top: 26px;
  background-image: url(../../../img/haiwai/logo@1x.png);
  background-image: -webkit-image-set(url(../../../img/haiwai/logo@1x.png) 1x, url(../../../img/haiwai/logo@2x.png) 2x);
  background-size: 100% 100%;
  background-position: left center;
  position: relative;
  z-index: 1;
}
.overseas-nav {
  height: 90px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06);
  position: relative;
  z-index: 1001;
  width: 100%;
}
.overseas-nav .wrapper {
  position: relative;
}
.overseas-nav .wrapper .fl.nation-box {
  position: absolute;
  width: 100%;
}
.overseas-nav .nav {
  position: relative;
  z-index: 0;
}
.overseas-nav .nav-list li {
  position: relative;
}
.overseas-nav .nav-list li:hover dd {
  opacity: 1;
  filter: alpha(opacity=100);
  display: block \9;
  pointer-events: auto;
  -webkit-transform: translateY(0) scale(1);
  -moz-transform: translateY(0) scale(1);
  -ms-transform: translateY(0) scale(1);
  -o-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1);
}
.overseas-nav .nav-list li a {
  color: #fff;
  padding: 3px;
}
.overseas-nav .nav-list li a.check {
  color: #3072F6;
}
.overseas-nav .nav-list li span {
  position: absolute;
  right: -28px;
  top: 5px;
  background: #1273e1;
  width: 57px;
  height: 21px;
  color: #fff;
  line-height: 21px;
  text-align: center;
  border-radius: 2px;
  font-size: 12px;
}
.overseas-nav .nav-list li span i {
  background-image: url(../../../img/haiwai/Sprite@1x.png);
  background-image: -webkit-image-set(url(../../../img/haiwai/Sprite@1x.png) 1x, url(../../../img/haiwai/Sprite@2x.png) 2x);
  background-repeat: no-repeat;
  background-position: -45px -25px;
  width: 7px;
  height: 5px;
  display: inline-block;
  position: absolute;
  bottom: -4px;
  left: 7px;
}
.overseas-nav .nav-list li dd {
  line-height: 28px;
  color: #000;
  position: absolute;
  left: 50%;
  top: 40px;
  width: 110px;
  margin-left: -55px;
  background: #fff;
  border-radius: 2px;
  padding-bottom: 10px;
  box-shadow: 0px 0 3px rgba(0, 0, 0, 0.2);
  filter: alpha(opacity=0);
  display: none \9;
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.34, 1.21, 0.4, 1);
  -moz-transition: all 500ms cubic-bezier(0.34, 1.21, 0.4, 1);
  transition: all 500ms cubic-bezier(0.34, 1.21, 0.4, 1);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: translateY(0) scale(0);
  -moz-transform: translateY(0) scale(0);
  -ms-transform: translateY(0) scale(0);
  -o-transform: translateY(0) scale(0);
  transform: translateY(0) scale(0);
  z-index: 99;
}
.overseas-nav .nav-list li dd dl {
  width: 100%;
}
.overseas-nav .nav-list li dd dl a {
  font-weight: normal;
  color: #000;
  font-size: 14px;
  display: block;
  white-space: nowrap;
  padding: 0px 13px;
}
.overseas-nav .nav-list li dd dl a:hover {
  background: #f5f5f5;
}
.overseas-nav .nav-list li dd dl i {
  background-image: url(../../../img/haiwai/Sprite@1x.png);
  background-image: -webkit-image-set(url(../../../img/haiwai/Sprite@1x.png) 1x, url(../../../img/haiwai/Sprite@2x.png) 2x);
  background-position: -69px -1px;
  width: 25px;
  height: 12px;
  display: block;
  margin: 0px auto;
  position: relative;
  top: -11px;
}
.overseas-nav .nav-list {
  position: absolute;
  width: 100%;
  padding-left: 160px;
  box-sizing: border-box;
  margin-top: 26px;
}
.overseas-nav .nav-list li {
  float: left;
  margin-left: 18px;
  line-height: 32px;
}
.overseas-nav .nav-list li:first-child {
  margin-left: 0;
}
.overseas-nav .nav-list li a {
  color: #333;
  font-size: 16px;
  font-weight: 700;
}
.overseas-nav .nav-list li a.check {
  color: #3072F6;
}
.overseas-nav .nav-list li a:hover {
  text-decoration: none;
}
.overseas-nav .ren-con {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
}
.overseas-nav .ren-con .recently {
  color: #999;
  cursor: pointer;
  margin-right: 30px;
}
.overseas-nav .ren-con .r-container {
  display: none;
}
.overseas-nav .ren-con .r-container .recent-detail {
  position: absolute;
  z-index: 2;
  background: white;
  width: 350px;
  height: 220px;
  right: -135px;
  top: 68px;
  overflow: auto;
  padding: 0 20px 40px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.overseas-nav .ren-con .r-container .recent-detail .loading {
  width: 20px;
  position: absolute;
  left: 50%;
  margin-left: -10px;
}
.overseas-nav .ren-con .r-container .recent-detail ul {
  position: relative;
  line-height: 0;
}
.overseas-nav .ren-con .r-container .recent-detail ul li {
  border-bottom: 1px solid #e4e4e4;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100%;
  padding: 20px 0;
}
.overseas-nav .ren-con .r-container .recent-detail ul li .delete {
  color: #999;
  float: right;
  line-height: 50px;
  cursor: pointer;
}
.overseas-nav .ren-con .r-container .recent-detail ul li img {
  width: 70px;
  height: 55px;
  margin-right: 15px;
}
.overseas-nav .ren-con .r-container .recent-detail ul li .info p {
  line-height: 19px;
  font-size: 12px;
}
.overseas-nav .ren-con .r-container .recent-detail ul li .info p.title {
  font-weight: bold;
}
.overseas-nav .ren-con .r-container .recent-detail ul li .info p.title .t-til {
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
}
.overseas-nav .ren-con .r-container .recent-detail ul li .info p span {
  padding: 2px;
  margin-right: 5px;
  font-size: 12px;
}
.overseas-nav .ren-con .r-container .recent-detail ul li .info p span.label0 {
  background: #77bbd5;
  color: white;
}
.overseas-nav .ren-con .r-container .recent-detail ul li .info p span.label1 {
  background: #dac782;
  color: white;
}
.overseas-nav .ren-con .r-container .recent-detail ul li .info p .price {
  color: #f15044;
}
.overseas-nav .ren-con .r-container .clear-all {
  height: 40px;
  position: absolute;
  bottom: 0;
  color: #999;
  background: white;
  line-height: 40px;
  z-index: 3;
  top: 288px;
  width: 390px;
  right: -135px;
  text-align: center;
  display: none;
}
.overseas-nav .ren-con .r-container .clear-all .login-btn {
  background: #39ac6a;
  color: white;
  padding: 10px;
}
.overseas-nav .ren-con .r-container .clear-all span {
  text-decoration: underline;
  cursor: pointer;
  position: relative;
  right: 19px;
  float: right;
}
.overseas-nav .tel {
  color: #fff;
}
.overseas-nav .tel i {
  background-image: url(../../../img/haiwai/site/Sprite_Graphic@1x.png);
  background-image: -webkit-image-set(url(../../../img/haiwai/site/Sprite_Graphic@1x.png) 1x, url(../../../img/haiwai/site/Sprite_Graphic@2x.png) 2x);
  background-repeat: no-repeat;
  background-position: -245px -10px;
  display: inline-block;
  width: 13px;
  height: 13px;
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.rk {
  display: inline-block;
  padding: 0px 8px;
  color: #fff;
  cursor: pointer;
  position: relative;
  margin-right: 20px;
}
.rk img {
  position: relative;
  top: 34px;
  margin-right: 5px;
  width: 12px;
  height: 13px;
}
.rk:hover div {
  opacity: 1;
  filter: alpha(opacity=100);
  display: block \9;
  pointer-events: auto;
  -webkit-transform: translateY(0) scale(1);
  -moz-transform: translateY(0) scale(1);
  -ms-transform: translateY(0) scale(1);
  -o-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1);
}
.rk div {
  line-height: 28px;
  color: #000;
  position: absolute;
  left: 50%;
  top: 65px;
  width: 85px;
  margin-left: -50px;
  background: #fff;
  border-radius: 2px;
  padding: 5px 13px;
  box-shadow: 0px 0 3px rgba(0, 0, 0, 0.2);
  filter: alpha(opacity=0);
  display: none \9;
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.34, 1.21, 0.4, 1);
  -moz-transition: all 500ms cubic-bezier(0.34, 1.21, 0.4, 1);
  transition: all 500ms cubic-bezier(0.34, 1.21, 0.4, 1);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: translateY(0) scale(0);
  -moz-transform: translateY(0) scale(0);
  -ms-transform: translateY(0) scale(0);
  -o-transform: translateY(0) scale(0);
  transform: translateY(0) scale(0);
  z-index: 99;
}
.rk div li a {
  color: #000;
}
.rk div li a:hover {
  text-decoration: none;
}
.rk div span {
  background-image: url(../../../img/haiwai/Sprite@1x.png);
  background-image: -webkit-image-set(url(../../../img/haiwai/Sprite@1x.png) 1x, url(../../../img/haiwai/Sprite@2x.png) 2x);
  background-position: -69px -1px;
  width: 25px;
  height: 12px;
  display: block;
  margin: 0px auto;
  position: absolute;
  left: 36px;
  top: -11px;
}
.site-nav.lianjia .logo {
  background-image: url(../../../img/haiwai/site/Sprite_Graphic@1x.png);
  background-image: -webkit-image-set(url(../../../img/haiwai/site/Sprite_Graphic@1x.png) 1x, url(../../../img/haiwai/site/Sprite_Graphic@2x.png) 2x);
  background-repeat: no-repeat;
  background-position: -10px -10px;
  width: 140px;
  height: 32px;
  background-size: auto;
}
.site-nav.beike .logo {
  background-image: url(../../../img/haiwai/logo_hw_black.png);
  background-image: -webkit-image-set(url(../../../img/haiwai/logo_hw_black@1x.png) 1x, url(../../../img/haiwai/logo_hw_black@2x.png) 2x);
  background-repeat: no-repeat;
  background-position: left center;
  width: 140px;
  height: 32px;
  background-size: 100%;
}
.site-nav {
  box-shadow: none;
}
.site-nav .wrapper {
  width: 1150px;
}
.site-nav .nav-list li {
  position: relative;
}
.site-nav .nav-list li a {
  color: #fff;
  padding: 0px 3px 3px 3px;
}
.site-nav .nav-list li a.check {
  color: #3072F6;
}
.site-nav .nav-list li span {
  position: absolute;
  right: -28px;
  top: 5px;
  background: #1273e1;
  width: 57px;
  height: 21px;
  color: #fff;
  line-height: 21px;
  text-align: center;
  border-radius: 2px;
  font-size: 12px;
}
.site-nav .nav-list li span i {
  background-image: url(../../../img/haiwai/Sprite@1x.png);
  background-image: -webkit-image-set(url(../../../img/haiwai/Sprite@1x.png) 1x, url(../../../img/haiwai/Sprite@2x.png) 2x);
  background-repeat: no-repeat;
  background-position: -45px -25px;
  width: 7px;
  height: 5px;
  display: inline-block;
  position: absolute;
  bottom: -4px;
  left: 7px;
}
.site-header {
  background: rgba(0, 0, 0, 0.4);
}
.site-header .wrapper {
  width: 1150px;
}
.site-header .wrapper .nav {
  width: 1150px;
}
.site-header .wrapper .nav li a {
  color: #fff;
  font-weight: 700;
  padding: 0px;
  padding: 0 10px;
}
.site-header .wrapper .nav .login span.fr {
  color: #999;
}
.site-header .wrapper .nav .login .typeShowUser a {
  color: #fff;
}
.citytel {
  color: #3072F6;
  font-size: 14px;
  font-weight: 700;
}
.citytel .rk {
  color: #3072F6;
  font-weight: 400;
  padding-left: 16px;
}
.citytel i {
  background-image: url(../../../img/haiwai/city/tel@1x.png);
  background-image: -webkit-image-set(url(../../../img/haiwai/city/tel@1x.png) 1x, url(../../../img/haiwai/city/tel@2x.png) 2x);
  background-repeat: no-repeat;
  display: inline-block;
  width: 13px;
  height: 13px;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

.search {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 0;
}
.search form {
  height: 34px;
  border: 1px solid #dedede;
  border-radius: 18px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  position: relative;
}
.search form ul.trigger-box {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 70px;
  line-height: 36px;
  border: none;
  border-right: 1px solid #E4E6F0;
}
.search form ul.trigger-box .trigger:last-child {
  border: 1px solid #E4E6F0;
  border-right: none;
  border-top: none;
  display: none;
}
.search form ul.trigger-box .trigger:first-child {
  border-bottom: 1px solid #E4E6F0;
}
.search form ul.trigger-box .trigger {
  font-size: 14px;
  color: #3072F6;
  display: inline-block;
  width: 70px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  box-sizing: border-box;
}
.search form ul.trigger-box .trigger .arrow {
  color: #9297A6;
  font-size: 12px;
  padding-left: 5px;
}
.search form.active {
  border-radius: 0;
}
.search form.active ul.trigger-box {
  display: block;
}
.search form.active input {
  padding-left: 80px;
  width: 204px;
}
.search input {
  padding-left: 0;
  position: relative;
  float: left;
  width: 0;
  height: 34px;
  border: 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
.search button {
  border-radius: 100%;
  float: right;
  width: 34px;
  height: 34px;
  background-image: url(../../../img/haiwai/Sprite@1x.png);
  background-image: -webkit-image-set(url(../../../img/haiwai/Sprite@1x.png) 1x, url(../../../img/haiwai/Sprite@2x.png) 2x);
  background-position: 0px 0px;
  background-color: #fff;
}
.search ul {
  display: none;
  position: absolute;
  right: 0;
  top: 35px;
  width: 248px;
  border: 1px solid #dedede;
  background: #fff;
}
.search ul li {
  padding: 0 4px;
  line-height: 30px;
}
.search ul li:hover {
  background: #f2f2f2;
}
.search ul li.hot-search-title {
  background: #f2f4f7;
  color: #718aa6;
  font-weight: 700;
}
.search ul li a {
  font-size: 12px;
  display: block;
  color: #333;
  text-decoration: none;
}
.search ul li a:hover {
  text-decoration: none;
}
.search ul li a span {
  font-size: 12px;
  color: #333;
}
.search ul li a span.stateName {
  width: 150px;
  height: 100%;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.search ul li a span.sell {
  width: 90px;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.intro {
  height: 46px;
  line-height: 46px;
  background: #f1f1f1;
  border-top: 1px solid #eee;
}
.intro .container {
  width: 1000px;
  margin: 0 auto;
}
.intro .l-txt,
.intro .r-txt {
  font-size: 12px;
}
.intro .l-txt i {
  background: url(./img/new-version/bg.png) no-repeat -12px -7px;
  width: 13px;
  height: 19px;
  display: inline-block;
  position: relative;
  top: 3px;
}
.intro .l-txt a,
.intro .l-txt span {
  color: #555555;
}
.intro .l-txt span.stp {
  color: #999;
  font-family: simsun;
}
.intro .l-txt .num {
  color: #E4393C;
}
.intro .r-txt {
  color: #888888;
}
.intro .r-txt .desc {
  color: #39ac6a;
}

.map-content {
  position: relative;
  width: 100%;
  height: 510px;
  z-index: 0;
}
#bmap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.nearyby-container {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 384px;
  height: 462px;
  background: #FFFFFF;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  z-index: 2;
  opacity: 1;
}
.nearyby-container .tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
  color: #101D37;
  background-color: #F1F1F1;
}
.nearyby-container .nearby-tab {
  width: 48px;
  padding-bottom: 9px;
  text-align: center;
}
.nearyby-container .nearby-tab .border {
  margin-bottom: 9px;
  width: 100%;
  height: 2px;
}
.nearyby-container .nearby-tab.selected {
  color: #3072F6;
  background-color: #FFFFFF;
  font-weight: bold;
}
.nearyby-container .nearby-tab.selected .border {
  background-color: #3072F6;
}
.nearyby-container .nearby-tab:hover {
  cursor: pointer;
}
.nearyby-container .wrapper-container {
  position: relative;
  width: 100%;
  height: 422px;
}
.nearyby-container .loading-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #9399A5;
  background-color: #FFFFFF;
  opacity: 0;
  z-index: -1;
}
.nearyby-container .loading-container.loading {
  opacity: 1;
  z-index: 10;
}
.nearyby-container .loading-container img {
  width: 36px;
  height: 36px;
}
.nearyby-container .results-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 15px 0 27px 0;
  overflow-y: scroll;
  background-color: #FFFFFF;
}
.nearyby-container .poi {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px 18px;
}
.nearyby-container .poi:hover {
  cursor: pointer;
  background: #F8F8F9;
}
.nearyby-container .poi.selected .address,
.nearyby-container .poi.selected .distance,
.nearyby-container .poi.selected .name {
  color: #3072F6;
}
.nearyby-container .poi .icon {
  width: 20px;
  height: 20px;
}
.nearyby-container .poi .right {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(100% - 36px);
  padding-left: 8px;
}
.nearyby-container .poi .detail {
  padding-right: 18px;
}
.nearyby-container .poi .name {
  color: #101D37;
  margin-bottom: 8px;
}
.nearyby-container .poi .address {
  color: #656C7A;
}
.nearyby-container .poi .distance {
  white-space: nowrap;
  color: #9399A5;
}
.nearyby-container .poi img {
  width: 20px;
  height: 20px;
}
.nearyby-container .exception {
  padding-left: 18px;
}
.current-location-controller {
  width: 32px;
  height: 32px;
  background-image: url(http://api0.map.bdimg.com/images/geolocation-control/mobile/gradient-bg-1x64.png);
  background-size: 1px 32px;
  background-repeat: repeat-x;
}
.current-location-controller .icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-image: url(http://api0.map.bdimg.com/images/geolocation-control/mobile/success-40x40.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
}
.map-content .info-box {
  background: #FFFFFF;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 0.5rem;
  min-width: 5rem;
  margin-bottom: 20px;
}
.map-content .info-box .title {
  margin-bottom: 0.375rem;
  font-size: 1rem;
  color: #101D37;
  white-space: nowrap;
}
.map-content .info-box .content {
  font-size: 0.8125rem;
  color: #9399A5;
  white-space: nowrap;
}
.map-content .info-box img {
  display: none;
  /* hide baidu infoBox default close icon */
}




.pop_fixed {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}
.pop_fixed * {
  box-sizing: border-box;
}
.pop_fixed .pop_content.trends {
  width: 600px;
  box-sizing: border-box;
}
.pop_fixed .pop_content.trends .trends_item {
  margin-bottom: 20px;
}
.pop_fixed .pop_content.trends .trends_item .trends_item-content {
  width: 410px;
  display: inline-block;
}
.pop_fixed .pop_content.trends .trends_item .trends_item-date {
  float: right;
  font-size: 14px;
  color: #9399A5;
  line-height: 20px;
}
.pop_fixed .pop_content.leave_message {
  width: 460px;
}
.pop_fixed .pop_content.leave_message .pop_btn {
  margin-top: 24px;
}
.pop_fixed .pop_content.housetype {
  width: 800px;
}
.pop_fixed .pop_content.housetype .pop_btn {
  margin-top: 24px;
}
.pop_fixed .pop_content.housetype .pop_main {
  font-size: 0;
  position: relative;
  min-height: 360px;
}
.pop_fixed .pop_content.housetype .pop_main .housetype_tab_container {
  width: 100px;
  display: inline-block;
  vertical-align: top;
}
.pop_fixed .pop_content.housetype .pop_main .housetype_tab_container .housetype_tab.active {
  background: #EFF4FF;
  border: 1px solid #3072F6;
  color: #3072F6;
}
.pop_fixed .pop_content.housetype .pop_main .housetype_tab_container .housetype_tab {
  width: 80px;
  height: 48px;
  background: #F4F4F4;
  border: 1px solid #F4F4F4;
  border-radius: 2px;
  margin-bottom: 20px;
  font-size: 13px;
  color: #9399A5;
  text-align: center;
  line-height: 16px;
  padding: 8px 0;
}
.pop_fixed .pop_content.housetype .pop_main .housetype_box.active {
  display: inline-block;
}
.pop_fixed .pop_content.housetype .pop_main .housetype_box {
  display: none;
  left: 100px;
}
.pop_fixed .pop_content.housetype .pop_main .housetype_box .picbox_layout {
  width: 360px;
  height: 360px;
  border: 1px solid #E4E6F0;
  display: inline-block;
  position: relative;
}
.pop_fixed .pop_content.housetype .pop_main .housetype_box .picbox_layout .picbox_layout-btn {
  position: absolute;
  background: #EDEDED;
  top: 156px;
  z-index: 1;
}
.pop_fixed .pop_content.housetype .pop_main .housetype_box .picbox_layout .picbox_layout-btn.prev {
  left: 0;
}
.pop_fixed .pop_content.housetype .pop_main .housetype_box .picbox_layout .picbox_layout-btn.next {
  right: 0;
}
.pop_fixed .pop_content.housetype .pop_main .housetype_box .picbox_layout .picbox_layout-preview-box {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.pop_fixed .pop_content.housetype .pop_main .housetype_box .picbox_layout .picbox_layout-preview-box .picbox_layout-preview-unit {
  display: inline-block;
}
.pop_fixed .pop_content.housetype .pop_main .housetype_box .picbox_layout .picbox_layout-preview-box .picbox_layout-preview-unit img {
  width: 360px;
  height: 360px;
  object-fit: contain;
}
.pop_fixed .pop_content.housetype .pop_main .housetype_box .housetype_info {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  padding-left: 20px;
  width: 260px;
}
.pop_fixed .pop_content.housetype .pop_main .housetype_box .housetype_info .divider {
  width: 100%;
  height: 1px;
  background: #E4E6F0;
  margin-bottom: 20px;
}
.pop_fixed .pop_content.housetype .pop_main .housetype_box .housetype_info .housetype_title {
  font-size: 16px;
  color: #101D37;
  line-height: 16px;
  font-weight: bold;
  margin-bottom: 24px;
}
.pop_fixed .pop_content.housetype .pop_main .housetype_box .housetype_info .area-type {
  margin-bottom: 20px;
  line-height: 18px;
}
.pop_fixed .pop_content.housetype .pop_main .housetype_box .housetype_info .area-type .subtitle_left_gray {
  font-size: 14px;
  color: #9399A5;
  display: inline-block;
  width: 70px;
}
.pop_fixed .pop_content.housetype .pop_main .housetype_box .housetype_info .area-type .content {
  font-size: 14px;
  color: #101D37;
}
.pop_fixed .pop_content.housetype .pop_main .housetype_box .housetype_info .area-type .content.price {
  color: #FA5741;
  font-weight: bold;
}
.pop_fixed .pop_content.opening {
  width: 600px;
}
.pop_fixed .pop_content.opening .open-info-item {
  font-size: 0;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  margin-bottom: 12px;
  background: #F0F1F5;
}
.pop_fixed .pop_content.opening .open-info-item * {
  box-sizing: border-box;
}
.pop_fixed .pop_content.opening .open-info-item:last-child {
  margin-bottom: 24px;
}
.pop_fixed .pop_content.opening .open-info-left {
  display: inline-block;
  background: #F0F1F5;
  padding: 10px 10px;
  width: 68px;
  font-size: 12px;
  color: #9399A5;
  text-align: center;
  vertical-align: top;
}
.pop_fixed .pop_content.opening .open-info-left p {
  padding-bottom: 8px;
}
.pop_fixed .pop_content.opening .open-info-right {
  background: #fff;
  display: inline-block;
  width: calc(100% - 68px);
  font-size: 12px;
  color: #656C7A;
  padding: 10px;
}
.pop_fixed .pop_content.opening .open-info-right p {
  margin-bottom: 8px;
}
.pop_fixed .pop_content.verifycode {
  width: 344px;
}
.pop_fixed .pop_content.verifycode .verifyinput {
  height: 33px;
  width: 150px;
  padding: 8px 10px;
  box-sizing: border-box;
}
.pop_fixed .pop_content.verifycode .actVerImage {
  height: 34px;
  margin-left: 12px;
  cursor: pointer;
}
.pop_fixed .pop_content.verifycode .sendverify {
  width: 120px;
  height: 36px;
  background: #3072F6;
  border-radius: 2px;
  font-size: 16px;
  color: #FFFFFF;
  display: block;
  margin: 24px auto 0;
  font-weight: bold;
  cursor: pointer;
}
.pop_fixed .pop_content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 30px 40px;
}
.pop_fixed .pop_content .pop_title {
  font-size: 18px;
  color: #101D37;
  text-align: center;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 24px;
}
.pop_fixed .pop_content .pop_close {
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 16px;
}
.pop_fixed .pop_content .pop_close img {
  width: 18px;
  height: 18px;
}
.pop_fixed .pop_content .pop_close_message {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
.pop_fixed .pop_content .pop_close_message .pop_close_icon {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-size: contain;
}
.pop_fixed .pop_content .pop_btn {
  width: 120px;
  height: 36px;
  background: #3072F6;
  border-radius: 2px;
  font-size: 16px;
  color: #FFFFFF;
  display: block;
  margin: 0 auto;
  font-weight: bold;
  cursor: pointer;
}
.pop_fixed_message {
  z-index: 10000;
}
.pop_fixed_message .pop_close_icon {
  width: 18px;
  height: 18px;
  background-size: cover;
  background-position: center;
}
.main-tab {
  display: none;
}
.main-tab .main-tab-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  line-height: 64px;
  background: #101D37;
  z-index: 1;
}
.main-tab .main-tab-wrap .panel-tab {
  font-size: 16px;
  overflow: hidden;
  padding-left: 66px;
}
.main-tab .main-tab-wrap .panel-tab li {
  cursor: pointer;
  float: left;
  padding-right: 40px;
}
.main-tab .main-tab-wrap .panel-tab li a {
  color: #9399A5;
}
.main-tab .main-tab-wrap .panel-tab li a.active {
  color: #fff;
}
.main-tab .main-tab-wrap .jingjiren-wrap {
  display: inline-block;
  position: absolute;
  font-size: 0;
  top: 0;
  right: 100px;
}
.main-tab .main-tab-wrap .jingjiren-wrap .contact-jingjiren {
  font-size: 16px;
  color: #FFFFFF;
}
.main-tab .main-tab-wrap .jingjiren-wrap .agent-box {
  display: inline-block;
  vertical-align: middle;
  padding: 0 35px 0 20px;
}
.main-tab .main-tab-wrap .jingjiren-wrap .agent-box .name-cn {
  padding-bottom: 8px;
  margin-top: -10px;
}
.main-tab .main-tab-wrap .jingjiren-wrap .agent-box .name-cn .name-en {
  padding-left: 10px;
}
.main-tab .main-tab-wrap .jingjiren-wrap .agent-box .agent-mobile {
  font-weight: bold;
}
.main-tab .main-tab-wrap .jingjiren-wrap .agent-box p {
  font-size: 14px;
  color: #FFFFFF;
  line-height: 14px;
}
.main-tab .main-tab-wrap .jingjiren-wrap .agent-box p .name-en {
  font-size: 12px;
}
.main-tab .main-tab-wrap .jingjiren-wrap .leave-message-btn {
  display: inline-block;
  width: 66px;
  height: 24px;
  background: #3072F6;
  border-radius: 1px;
  font-size: 12px;
  color: #FFFFFF;
  transition: all 0.15s ease;
  cursor: pointer;
}
.main-tab .main-tab-wrap .jingjiren-wrap .leave-message-btn:hover {
  background: #3B79F4;
}
