//详细页面的具体样式实现
.alex-detail-page {
  //分割线
  .divider {
    width: 100%;
    height: 1px;
    background: #E4E6F0;
  }
  //类别的标题
  .main-title{
    font-size: 24px;
    color: #101D37;
    line-height: 24px;
    padding: 60px 0 20px;
    font-weight: bold;
  }
  .main-title#recommendInfo {
    margin-bottom: 0px;
  }
  //面包屑
  .bread-content {
    background: #EDEFF1;
    height: 35px;
    line-height: 35px;
    .breadcrumbs {
      font-size: 12px;
      color: #999999;
      height: 35px;
      line-height: 35px;
      width: 1150px;
      margin: 0 auto;
      .icon {
        background-image: url(../images/bread-icon.png);
        background-image: -webkit-image-set(url(../images/bread-icon.png) 1x, url(../images/bread-icon@2x.png) 2x);
        background-repeat: no-repeat;
        width: 13px;
        height: 19px;
        display: inline-block;
        margin-top: 5px;
        vertical-align: middle;
      }
      a {
        color: #999999;
      }
      .stp {
        color: #999999;
        font-family: simsun;
      }
    }
  }
  //内容的区域包裹
  .wrap {
    width: 1150px;
    margin: 0 auto;
    //详细的标题
    .title-box {
      height: 100%;
      .title {
        font-size: 26px;
        color: #101D37;
        line-height: 26px;
        padding-top: 30px;
        padding-bottom: 10px;
        display: inline-block;
        font-weight: bold;
        margin-right: 15px;
      }
      .location {
        font-size: 11px;
        color: #9399A5;
        line-height: 11px;
        display: inline-block;
        img {
          width: 12px;
          height: auto;
          vertical-align: text-top;
        }
      }
      .tag {
        height: 22px;
        line-height: 22px;
        background: #F4F7F9;
        border-radius: 1px;
        margin-right: 12px;
        font-size: 12px;
        color: #849AAE;
        text-align: center;
        margin-bottom: 10px;
        padding: 0 6px;
        display: inline-block;
      }
    }
    //主力户型
    .housetype-tab-container{
      display: inline-block;
      font-size: 0;
      height: 30px;
      line-height: 30px;
      border-bottom: 1px solid #EEEEEE;
      width: 100%;
      .housetype-tab {
        margin: 0 40px;
        font-size: 14px;
        color: #101D37;
        line-height: 30px;
        height: 30px;
        display: inline-block;
        cursor: pointer;
      }
      .housetype-tab.active {
        color: #3072F6;
        font-weight: bold;
      }
      .housetype-tab.active > span {
        position: relative;
        display: inline-block;
      }
      .housetype-tab.active > span::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 2px;
        background: #3072F6;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 0;
        border-radius: 2px;
      }
    }
    .housetype-content{
      .housetype-box.active {
        display: block;
      }
      .housetype-box {
        display: none;
        margin-top: 24px;
        font-size: 0;
        overflow: hidden;
        position: relative;
        .housetype-pic {
          float: left;
          display: inline-block;
          width: 170px;
          height: 170px;
          border: 1px solid #eee;
          img {
            width: 170px;
            height: 170px;
            object-fit: contain;
          }
        }
        .housetype-info {
          display: inline-block;
          float: left;
          position: absolute;
          left: 0;
          width: 100%;
          padding-left: 210px;
          box-sizing: border-box;
          top: 50%;
          transform: translate(0, -50%);
          .housetype-title {
            font-size: 20px;
            color: #101D37;
            line-height: 20px;
            font-weight: bold;
          }
          .rmb-price {
            float: right;
            font-size: 26px;
            color: #FA5741;
            line-height: 26px;
            font-weight: bold;
          }
          .indoor-area-title {
            font-size: 20px;
            color: #9399A5;
            line-height: 20px;
            padding-right: 20px;
          }
          .indoor-area {
            font-size: 20px;
            color: #101D37;
            line-height: 20px;
          }
          .local-price {
            font-size: 16px;
            color: #9399A5;
            line-height: 16px;
            float: right;
          }
        }
        .housetype-info > p {
          margin-bottom: 22px;
        }
      }
    }
  }
  //右边的顾问信息
  .alxe-jingjiren{
    h3 {
      font-size: 18px;
      color: #101D37;
      line-height: 18px;
      margin: 30px 0 20px;
      font-weight: bold;
    }

  }
  .agent-info-box{
    margin-top: 20px;
    overflow: hidden;
    img {
      width: 69px;
      height: 92px;
      float: left;
      object-fit: cover;
    }
    .agent-info-text{
      margin-left: 79px;
      .name{
        line-height: 18px;
        .cn-name {
          font-size: 18px;
          color: #101D37;
          line-height: 18px;
          font-weight: bold;
        }
        .eng-name {
          font-size: 14px;
          color: #101D37;
          line-height: 14px;
        }
        .leave_message_tag {
          display: inline-block;
          background: #E9F2FE;
          border-radius: 1px;
          height: 20px;
          line-height: 20px;
          font-size: 12px;
          color: #3072F6;
          padding: 0 4px;
          cursor: pointer;
          img {
            width: 12px;
            padding-right: 3px;
            padding-top: 5px;
            height: auto;
          }
        }
      }
      .agent-area {
        font-size: 12px;
        color: #101D37;
        line-height: 12px;
        margin-top: 12px;
      }
      .agent-intro {
        font-size: 12px;
        color: #9399A5;
        line-height: 12px;
        margin-top: 12px;
      }
      .phone {
        font-size: 20px;
        line-height: 20px;
        color: #E4393C;
        font-weight: bold;
        margin-top: 10px;
      }

    }
  }
  .alxe-leave-message{
    .pop-box-title {
      font-size: 18px;
      color: #101D37;
      line-height: 18px;
      font-weight: bold;
      margin-top: 32px;
    }
    .message-tip {
      font-size: 12px;
      color: #9399A5;
      line-height: 12px;
      margin: 8px 0 12px;
    }
    .error-box {
      display: none;
      background: #FEF2F2;
      border: 1px solid #FFC0B6;
      border-radius: 2px;
      width: 100%;
      height: 28px;
      line-height: 28px;
      font-size: 12px;
      color: #656C7A;
      margin-bottom: 8px;
      padding-left: 8px;
      .error-img {
        width: 12px;
        height: auto;
        vertical-align: text-bottom;
      }
    }
    form {
      font-size: 0;
      .textarea,.input {
        width: 100%;
        line-height: 18px;
        padding: 8px 10px;
        margin-bottom: 10px;
        border: 1px solid #E4E6F0;
        border-radius: 2px;
        font-size: 12px;
      }
      .input {
        width: 185px;
        height: 34px;
      }
      .input.name {
        margin-right: 10px;
      }
      .pic-verifycode-box {
        display: none;
      }
      .actVerImage {
        height: 34px;
        width: auto;
        margin-left: 10px;
        cursor: pointer;
      }
      .meassage {
        height: 88px;
      }
      .validate-box {
        position: relative;
        border: 1px solid #E4E6F0;
        border-radius: 2px;
        margin-bottom: 10px;
        padding-right: 80px;
        .input {
          height: 34px;
          width: 100%;
          margin: 0;
          border: 0;
          font-size: 12px;
          padding: 0.625rem 0.5rem;
        }
        .send_verifycode {
          position: absolute;
          right: 0;
          padding-right: 0.5rem;
          top: 0;
          display: inline-block;
          height: 34px;
          line-height: 34px;
          font-size: 12px;
          color: #101D37;
          cursor: pointer;
        }
        .send_verifycode.input-verifycode-disabled {
          color: #a9a9a9;
        }
        .send_verifycode.input-verifycode-disabled:hover {
          text-decoration: none;
        }
      }
      .agreement-box {
        text-align: left;
        font-size: 0.8125rem;
        color: #101D37;
        .checkbox {
          width: 14px;
          height: 14px;
        }
        .protocal {
          font-size: 12px;
          color: #3072F6;
          line-height: 12px;
          height: 12px;
        }
      }
      .btn_blue {
        display: inline-block;
        background: #3072F6;
        border-radius: 2px;
        font-size: 14px;
        color: #FFFFFF;
        width: 180px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        margin-top: 24px;
        font-weight: bold;
      }
      .btn.btn_confirm {
        width: 60px;
        float: right;
        margin-top: 0;
      }
      .btn_blue:hover {
        text-decoration: none;
        cursor: default;
      }
    }
  }
  .main-content{
    .box-l{
      width: 710px;
      float: left;
      .left-container{
        width: 710px;
        //画册的样式
        .picbox {
          width: 710px;
          .picbox_container {
            width: 710px;
            height: 400px;
            background: #eee;
            position: relative;
            .picbox_container-type {
              display: inline-block;
              padding: 0 11px;
              height: 32px;
              line-height: 32px;
              background: rgba(0, 0, 0, 0.5);
              font-size: 12px;
              color: #FFFFFF;
              position: absolute;
              bottom: 10px;
              left: 10px;
            }
          }
          .picbox_container > img {
            width: 710px;
            height: 400px;
            object-fit: cover;
            cursor: pointer;
          }
          .picbox_layout {
            margin-top: 8px;
            font-size: 0;
            position: relative;
            overflow: hidden;
            .picbox_layout-btn:hover {
              background: #213454;
            }
            .picbox_layout-btn {
              width: 30px;
              height: 82px;
              line-height: 82px;
              background: #101E36;
              display: inline-block;
              z-index: 1;
              text-align: center;
              cursor: pointer;
              transition: all 0.15s ease;
            }
            .picbox_layout-btn img {
              vertical-align: middle;
              width: 10px;
            }
            .picbox_layout-btn.prev {
              position: absolute;
              left: 0;
            }
            .picbox_layout-btn.next {
              position: absolute;
              right: 0;
            }
            .picbox_layout-preview-box {
              display: inline-block;
              padding: 0 28px;
              white-space: nowrap;
              box-sizing: border-box;
              width: 100%;
              transition: all 0.2s ease;
              .picbox_layout-preview-unit {
                display: inline-block;
                margin-left: 9px;
                width: 120px;
                height: 80px;
                background: #000;
              }
              .picbox_layout-preview-unit > img {
                width: 120px;
                height: 80px;
                object-fit: cover;
                opacity: 0.6;
              }
              .picbox_layout-preview-unit > img.selected {
                opacity: 1;
              }
            }
          }
        }

        .baseinfo{
          padding: 30px 0;
          overflow: hidden;
          .subtitle {
            font-size: 16px;
            color: #101D37;
            line-height: 16px;
            font-weight: bold;
            margin-bottom: 20px;
          }
          .intro-content {
            font-size: 14px;
            color: #101D37;
            line-height: 24px;
          }
        }
        //项目详细
        .baseinfo.introduction {
          margin-bottom: -20px;
          .intro-content-item {
            min-width: 50%;
            float: left;
            margin-bottom: 20px;
            line-height: 18px;
            .subtitle_left_gray {
              font-size: 14px;
              color: #9399A5;
              letter-spacing: 0;
              line-height: 18px;
              display: inline-block;
              width: 80px;
              vertical-align: top;
            }
            .subtitle_left_gray.long {
              width: 114px;
            }
            .subcontent_right {
              display: inline-block;
              width: calc(100% - 114px);
              float: right;
            }
            .matching_icon {
              width: 17px;
              height: auto;
            }
          }
        }
        //项目卖点
        .maidian-tab-container {
          color: #101D37;
          line-height: 14px;
          border-bottom: 1px solid #EEEEEE;
          font-size: 0;
          height: 30px;
          line-height: 30px;
          margin-bottom: 17px;
          .maidian-tab {
            display: inline-block;
            width: 16%;
            font-size: 14px;
            text-align: center;
            position: relative;
            cursor: pointer;
          }
          .maidian-tab.active {
            color: #3072F6;
            font-weight: bold;
          }
          .maidian-tab.active > span {
            position: relative;
            line-height: 30px;
            display: inline-block;
          }
          .maidian-tab.active > span::after {
            content: '';
            display: inline-block;
            width: 100%;
            height: 2px;
            background: #3072F6;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            bottom: 0;
            border-radius: 2px;
          }
          .maidian-content {
            font-size: 14px;
            color: #101D37;
            line-height: 22px;
            display: none;
          }
          .maidian-content.active {
            display: block;
          }
        }
        //项目流程
        .baseinfo.steps {
          padding-bottom: 0;
          .step-content{
            .step-box:last-child::after {
              display: none;
            }
            .step-box:last-child {
              margin-bottom: 0;
            }
            .step-box::after {
              content: '';
              width: 2px;
              height: 100%;
              background: #FFA522;
              left: 9px;
              top: 20px;
              position: absolute;
            }
            .step-box {
              position: relative;
              padding-bottom: 30px;
              font-size: 0;
              .step-num {
                display: inline-block;
                width: 20px;
                height: 20px;
                line-height: 20px;
                background: #FFA522;
                color: #fff;
                text-align: center;
                border-radius: 100%;
                font-size: 14px;
                position: absolute;
                z-index: 1;
              }
              .step-txt {
                display: inline-block;
                margin-left: 30px;
                border-radius: 4px;
                line-height: 18px;
                font-size: 14px;
              }
            }
          }
        }

      }
    }
    .box-r{
      float: right;
      width: 380px;
      .right-container{
        .info-box {
          width: 380px;
          height: 100%;
          .price{
            .rmb-price {
              font-size: 44px;
              color: #E4393C;
              line-height: 44px;
              margin-right: 20px;
              font-weight: bold;
              .unit {
                font-size: 16px;
                font-weight: normal;
              }
            }
            .local-price {
              font-size: 14px;
              color: #101D37;
              line-height: 16px;
              display: inline-block;
              margin-bottom: 8px;
            }
            .exchange-rate {
              font-size: 14px;
              color: #9399A5;
              line-height: 16px;
              margin-bottom: 24px;
            }
          }
          .house-info {
            font-size: 0;
            padding: 24px 0;
            .item:first-child {
              padding-right: 16px;
              box-sizing: border-box;
            }
            .item {
              width: 50%;
              display: inline-block;
              .item-title {
                font-size: 12px;
                color: #9399A5;
                line-height: 12px;
                margin-bottom: 10px;
              }
              .item-text {
                font-size: 20px;
                color: #101D37;
                line-height: 20px;
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
          .around-info {
            padding: 20px 0;
            font-size: 0;
            .area-type,.address,.latest-opening,.housetype {
              margin-top: 16px;
              font-size: 0;
              .right-box {
                width: calc(100% - 80px);
                display: inline-block;
                vertical-align: top;
                .content {
                  font-size: 14px;
                  color: #101D37;
                  line-height: 18px;
                  padding-right: 24px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  max-width: 100%;
                  display: inline-block;
                  vertical-align: middle;
                  .housetype-title {
                    padding-right: 15px;
                    display: inline-block;
                  }
                }
              }
              .subtitle_left_gray {
                font-size: 14px;
                color: #9399A5;
                display: inline-block;
                width: 70px;
              }
              .view-more {
                font-size: 12px;
                color: #3072F6;
                line-height: 18px;
                display: inline-block;
                cursor: pointer;
                vertical-align: top;
              }
            }
            .area-type {
              margin-top: 0;
            }
          }
          .agent-info {
            padding: 24px 0 80px;
            .agent-discount {
              font-size: 14px;
              color: #E28F07;
              height: 14px;
              line-height: 18px;
              margin-bottom: 35px;
              font-weight: bold;
              img {
                width: 25px;
                height: auto;
                vertical-align: middle;
                margin-right: 5px;
              }
            }
          }
        }
        .content-container {
          width: 380px;
          border: 1px solid #EEEEEE;
          box-sizing: border-box;
          padding: 20px 20px 0 20px;
          h3 {
            font-size: 18px;
            color: #101D37;
            line-height: 18px;
            font-weight: bold;
          }
          .content-box{
            .content-item:last-child {
              border-bottom: none;
            }
            .content-item {
              display: block;
              padding: 20px 0;
              position: relative;
              border-bottom: 1px solid #E4E6F0;
              .title {
                font-size: 16px;
                color: #101D37;
                letter-spacing: 0.2px;
                line-height: 22px;
              }
              .content {
                font-size: 13px;
                color: #9399A5;
                line-height: 18px;
              }
              .content.twoline {
                height: 36px;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .info {
                font-size: 13px;
                color: #9399A5;
                line-height: 13px;
                bottom: 0;
              }
            }
            .content-item.type1{//type1是推荐咨询的无图模式
              .title {
                margin-bottom: 11px;
              }
              .content {
                margin-bottom: 11px;
              }
            }
            .content-item.type2 {//type2是有图无栏目模式
              min-height: 115px;
              box-sizing: border-box;
              .title {
                margin-bottom: 11px;
              }
              .item-left {
                display: inline-block;
                margin-right: 120px;
              }
              .item-right {
                display: inline-block;
                position: absolute;
                right: 0;
                bottom: 20px;
                width: 100px;
                height: 75px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
              }
            }
            .content-item.type3 {//有图有栏目模式
              min-height: 110px;
              .title {
                margin-bottom: 11px;
              }
              .item-left {
                display: inline-block;
                margin-right: 120px;
              }
              .item-right {
                display: inline-block;
                position: absolute;
                right: 0;
                bottom: 20px;
                width: 100px;
                height: 75px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
              }
              .info {
                position: absolute;
                bottom: 20px;
              }
            }
          }
        }
        .right-fixed.fixed {
          top: 64px;
          position: fixed;
          width: 380px;
          background: #fff;
        }
      }
    }
    .box-bottom {
      .arround {
        width: 100%;
        height: 510px;
      }
      .map-content {
        position: relative;
        width: 100%;
        height: 510px;
        z-index: 0;
      }
      .similar-recommend{
        .similar-box {
          display: block;
          font-size: 0;
          position: relative;
          padding: 30px 0;
          margin-bottom: 30px;
          .similar-pic {
            width: 240px;
            height: 174px;
            background: #eee;
            display: inline-block;
            img {
              width: 240px;
              height: 174px;
              object-fit: cover;
            }
          }
          .similar-info {
            position: absolute;
            display: inline-block;
            font-size: 14px;
            vertical-align: top;
            left: 0;
            padding-left: 280px;
            width: 100%;
            box-sizing: border-box;
            .similar-title {
              font-size: 22px;
              color: #333333;
              line-height: 22px;
              margin-bottom: 20px;
              font-weight: bold;
            }
            .location {
              font-size: 14px;
              color: #666666;
              line-height: 14px;
              margin-bottom: 20px;
              img {
                width: 12px;
                height: auto;
                vertical-align: text-top;
              }
            }
            .roomtype {
              font-size: 14px;
              color: #666666;
              line-height: 14px;
              margin-bottom: 20px;
              .rmb-price {
                font-size: 26px;
                color: #F5222D;
                line-height: 26px;
                float: right;
                font-weight: bold;
              }
            }
            .area {
              margin-bottom: 17px;
              color: #666;
              .local-price {
                color: #999999;
                float: right;
              }
            }
            .tag-box {
              font-size: 0;
              .tag {
                display: inline-block;
                height: 30px;
                line-height: 30px;
                text-align: center;
                background: #F2F5F7;
                border-radius: 2px;
                font-size: 12px;
                color: #839AAE;
                margin-right: 10px;
                padding: 0 12px;
              }
            }
          }

        }
      }
    }
  }

}

























































